# Exlporing employment data
<br>
### <center>U.S. Census Bureau dataset cleaned and provided by FiveThirtyEight </center>

In [1]:
import pandas as pd

all_ages = pd.read_csv('./college-majors/all-ages.csv')
recent_grads = pd.read_csv('./college-majors/recent-grads.csv')

In [2]:
print("\nAll Ages: \n", all_ages.columns)
print("\n\nRecent Grads: \n", recent_grads.columns, '\n')

All Ages:
 Index(['Major_code', 'Major', 'Major_category', 'Total', 'Employed',
       'Employed_full_time_year_round', 'Unemployed', 'Unemployment_rate',
       'Median', 'P25th', 'P75th'],
      dtype='object')


Recent Grads:
 Index(['Rank', 'Major_code', 'Major', 'Total', 'Men', 'Women',
       'Major_category', 'ShareWomen', 'Sample_size', 'Employed', 'Full_time',
       'Part_time', 'Full_time_year_round', 'Unemployed', 'Unemployment_rate',
       'Median', 'P25th', 'P75th', 'College_jobs', 'Non_college_jobs',
       'Low_wage_jobs'],
      dtype='object')

In [3]:
aa_maj_cats = all_ages['Major_category'].unique()
aa_maj_cats

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', 'Psychology & Social Work',
       'Arts', 'Business'], dtype=object)

## Sum the total of each Major Category for various All ages and Recent Graduates

In [4]:
aa_cat_counts = {}
rg_cat_counts = {}

for val in aa_maj_cats:
    total = all_ages['Total'][all_ages['Major_category'] == val].sum()
    if val not in aa_cat_counts:
        aa_cat_counts[val] = total
        
# aa_cat_counts

<br>
<br>
<br>
## Refactor to a funtion

__sum_unique_cats__ accepts a dataframe as the single argument and returns a dictionary with the Major Category as the key and the total graduates in that category as the value.
<br>
<br>

In [5]:
def sum_unique_cats(d_frame):
    cat_counts = {}
    maj_cats = d_frame['Major_category'].unique()
    for val in maj_cats:
        total = d_frame['Total'][d_frame['Major_category'] == val].sum()
        if val not in cat_counts:
            cat_counts[val] = total
    return cat_counts

In [6]:
sum_unique_cats(all_ages)

{'Agriculture & Natural Resources': 632437,
 'Arts': 1805865,
 'Biology & Life Science': 1338186,
 'Business': 9858741,
 'Communications & Journalism': 1803822,
 'Computers & Mathematics': 1781378,
 'Education': 4700118,
 'Engineering': 3576013,
 'Health': 2950859,
 'Humanities & Liberal Arts': 3738335,
 'Industrial Arts & Consumer Services': 1033798,
 'Interdisciplinary': 45199,
 'Law & Public Policy': 902926,
 'Physical Sciences': 1025318,
 'Psychology & Social Work': 1987278,
 'Social Science': 2654125}

In [7]:
sum_unique_cats(recent_grads)

{'Agriculture & Natural Resources': 75620.0,
 'Arts': 357130.0,
 'Biology & Life Science': 453862.0,
 'Business': 1302376.0,
 'Communications & Journalism': 392601.0,
 'Computers & Mathematics': 299008.0,
 'Education': 559129.0,
 'Engineering': 537583.0,
 'Health': 463230.0,
 'Humanities & Liberal Arts': 713468.0,
 'Industrial Arts & Consumer Services': 229792.0,
 'Interdisciplinary': 12296.0,
 'Law & Public Policy': 179107.0,
 'Physical Sciences': 185479.0,
 'Psychology & Social Work': 481007.0,
 'Social Science': 529966.0}

### A pivot table can provide the same data with less logic required

In [8]:
import numpy as np

aa_count = all_ages.pivot_table(index='Major_category', values='Total', aggfunc=np.sum)
rg_count = recent_grads.pivot_table(index='Major_category', values='Total', aggfunc=np.sum)
aa_count

                                       Total
Major_category
Agriculture & Natural Resources       632437
Arts                                 1805865
Biology & Life Science               1338186
Business                             9858741
Communications & Journalism          1803822
Computers & Mathematics              1781378
Education                            4700118
Engineering                          3576013
Health                               2950859
Humanities & Liberal Arts            3738335
Industrial Arts & Consumer Services  1033798
Interdisciplinary                      45199
Law & Public Policy                   902926
Physical Sciences                    1025318
Psychology & Social Work             1987278
Social Science                       2654125

# Calculates the proportion of recent grauates with low wage jobs

In [9]:
low_wage_proportion = recent_grads['Low_wage_jobs'].sum() / recent_grads['Total'].sum()
low_wage_proportion

0.09858891195563152

### The proportion of recent graduates with low-wage employment is approximately {{low_wage_proportion * 100}}%

# Comparing unemployment rate of recent graduates to all ages by major

In [38]:
majors = recent_grads['Major'].unique()
rg_lower_count = 0

for major in majors:
    rg_check_row = recent_grads[recent_grads['Major'] == major]
    aa_check_row = all_ages[all_ages['Major'] == major]

    if rg_check_row.iloc[0]['Unemployment_rate'] < aa_check_row.iloc[0]['Unemployment_rate']:
        rg_lower_count += 1

print(rg_lower_count)

44

### Of 173 comparable major fields of study, {{rg_lower_count}} majors produced recent graduates with lower unemployment rates than the general population.